body {
    height: 100%;
    width: 100%;
    background-color: var(--#{$variable-prefix}body-bg); // 2
}

.container {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: var(--#{$variable-prefix}body-bg);
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    margin: auto;
    outline: 1px solid #dadada;
    display: flex;
   
    
}
    
.box {
    outline: 1px solid #dadada;
    background-color: #ececec;
    margin: 0;
    padding: 1px 1px 1px 1px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.hover {
    outline: 1px solid #dadada;
    background-color: #ffffff;
}

#color {
    width: 125px;
    height: 30px;
    background-color: #dddddd;
    padding: 3px 3px 3px 3px;
}